<div class="container">
  <div class="row">
    <div class="span12">
      <p class="lead">ES4 Administrator Panel:</p>
      <div id="tab" class="btn-group" data-toggle="buttons-radio">
        <a href="#prices2" class="btn btn-large btn-info active" data-toggle="tab">Event Rates</a>
        <a href="#features2" class="btn btn-large btn-info" data-toggle="tab">Reassign</a>
        <a href="#requests2" class="btn btn-large btn-info" data-toggle="tab">Crowd Ratio</a>
        <a href="#requests3" class="btn btn-large btn-info"  data-toggle="tab">Job Types</a>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="prices2">
          <br>
          <p class="lead">Event Rates</p>
          <div class="row">
            <div class="span9">
              <div class="container-fluid">
                <div class="row">
                  <div class="container main-content" style="width: 98%">
                    <h2 class="text-center margin-bottom-20">Set Price ranges for event</h2>
                    <div class="well well-sm accInfo container-fluid margin-bottom-10">
                      <h5 class="" style="margin-bottom: 10px;">Set General Costs for Job Types</h5>
                      <div class="form-group col-xs-6">
                        <label for="">alcohol Cost</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input class="form-control" ng-model="all.alcohol" type="number">
                        </div>
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="">Police Vehicle Cost</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input class="form-control" ng-model="all.police_vehicle" type="number">
                        </div>
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="">Barricade Cost</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input class="form-control" ng-model="all.barricade" type="number">
                        </div>
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="">Amplified Sound Cost</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input class="form-control" ng-model="all.amplified_sound" type="number">
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <button class="btn btn-primary pull-right" ng-click="saveGenerals()">Save General Costs</button>
                      </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered table-responsive">
                      <thead>
                      <th>Job Type</th>
                      <th>Base Cost</th>
                      <th>Crowd Rate</th>
                      <th>Officer Rate</th>
                      <th>Hour Rate per Officer</th>
                      </thead>
                      <tbody>
                      <tr ng-repeat="job in jobTypes">
                        <th>{{job.name}}</th>
                        <td>
                          <div class="form-group">
                            <label for="" class="sr-only"> Base cost: </label>
                            <div class="input-group">
                              <div class="input-group-addon">$</div>
                              <input class="form-control" ng-model="job.base_price" type="number">
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input class="form-control" ng-model="job.crowd_rate" type="number" placeholder="Charge per 10 guests">
                            <div class="input-group-addon">/ 10 guests</div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input class="form-control" ng-model="job.officer_rate" type="number" placeholder="Charge per officer">
                            <div class="input-group-addon">/ officer</div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input class="form-control" ng-model="job.hour_rate" type="number" placeholder="Charge per hour per officer">
                            <div class="input-group-addon">/ hour per officer</div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <button class="btn btn-primary pull-right" ng-click="saveRates()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="features2">
          <br>
          <p class="lead">Departmental Reassignment</p>
          <div class="row">
            <div class="span9">
              <div class="container main-content mb-20">
                <h3 class="mb-20">Options</h3>
                <form class="form-horizontal margin-top-20" id="options">
                  <fieldset>
                    <div class="checkbox form-group col-md-12">
                      <label>
                        <input name="name" type="checkbox" value="val" /> Automatically re-post jobs to other agencies
                      </label>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-1 control-label">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      </label>
                      <div class="col-md-4 padding-top-08"> If unfulfilled after X days of initial posting </div>
                      <div class="col-md-2">
                        <input type="number" name="monthlyNumber" id="monthlyNumber" class="form-control" min="0" max="31" placeholder="1">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-1 control-label">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      </label>
                      <div class="col-md-4 padding-top-08"> if unfulfilled after X days before job start date </div>
                      <div class="col-md-2">
                        <input type="number" name="monthlyNumber" id="monthlyNumber" class="form-control" min="0" max="31" placeholder="1">
                      </div>
                    </div>
                    <div class="form-group col-md-6 margin-top-20">
                      <select multiple class="form-control" style="min-height:200px;">
                        <option value="">Dallas PD</option>
                        <option value="">Fort Worth PD</option>
                        <option value="">Abilene PD</option>
                        <option value="">Lubbock PD</option>
                        <option value="">Amarillo PD</option>
                        <option value="">Arlington PD</option>
                      </select>
                    </div>
                  </fieldset>
                </form>
                <div class="">
                  <button class="btn btn-primary pull-right" type="button" name="button">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="requests2">
          <br>
          <p class="lead">Officer Count</p>
          <div class="row">
            <div class="container main-content span9">
              <p class="label label-success tableCaption">Officer Count per Number of Event Ettendees</p>
              <form class="form-horizontal margin-top-20">
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-1 padding-top-08"> Between</div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="1" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> and </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="49" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> = </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="1" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08">officers</div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-1 padding-top-08"> Between</div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="50" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> and </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="99" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> = </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="2" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08">officers</div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-1 padding-top-08"> Between</div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="100" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> and </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="199" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> = </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="4" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08">officers</div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-1 padding-top-08"> Between</div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="200" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> and </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="499" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> = </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="6" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08">officers</div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-1 padding-top-08"> Between</div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> and </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> = </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08">officers</div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-1 padding-top-08"> Between</div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> and </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08 text-center"> = </div>
                    <div class="col-md-2">
                      <input type="number" name="" id="" value="" class="form-control" min="0" placeholder="0">
                    </div>
                    <div class="col-md-1 padding-top-08">officers</div>
                  </div>
                </fieldset>
              </form>
              <div class="">
                <button class="btn btn-primary pull-right" type="button" name="button">Save</button>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="requests3">
          <br>
          <div class="row">
            <div class="span9">
              <h3 class="mb-20">Lookups &mdash; <small>Define lookup values to be used on the job creation page</small></h3>
              <div class="table-responsive">
                <table id="jobTypes" class="display nowrap table table-bordered" cellspacing="0" width="100%">
                  <thead>
                  <tr>
                    <th>Lookup Type</th>
                    <th>Description</th>
                    <th>Extra Officer Count</th>
                    <th>Show Notes</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><strong>Asset Protection</strong></td>
                    <td>Bank Security</td>
                    <td>1</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Asset Protection</strong></td>
                    <td>Money Drop Security</td>
                    <td>1</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Asset Protection</strong></td>
                    <td>Loss Prevention at Retail Stores</td>
                    <td>0</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Special Patrols</strong></td>
                    <td>Neighborhood Patrol</td>
                    <td>0</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Special Patrols</strong></td>
                    <td>Apartement Roving Patrol</td>
                    <td>0</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Special Patrols</strong></td>
                    <td>Special Community Patrol</td>
                    <td>2</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Special Patrols</strong></td>
                    <td>Other</td>
                    <td>0</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" checked="checked" /></td>
                  </tr>
                  <tr>
                    <td><strong>Traffic Direction</strong></td>
                    <td>Parking Ingress/Egress</td>
                    <td>0</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Traffic Direction</strong></td>
                    <td>Construction Safety/Control</td>
                    <td>0</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Traffic Direction</strong></td>
                    <td>Intersection Control</td>
                    <td>0</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" /></td>
                  </tr>
                  <tr>
                    <td><strong>Traffic Direction</strong></td>
                    <td>Other</td>
                    <td>0</td>
                    <td class="text-center"><input name="name" type="checkbox" value="val" checked="checked" /></td>
                  </tr>
                  </tbody>
                </table>

              </div>
              <div class="">
                <button class="btn btn-primary pull-right" type="button" name="button">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
