<div class="container main-content mb-20">
  <h3 class="mb-20">View Job &mdash; <small>{{ event.venue }}</small></h3>

  <div class="row">
    <div class="col-md-4">
      <ul class="list-group pw-lists">
        <h5 class="mb-20">Client</h5>
        <li class="list-group-item">
          <strong>Name</strong>: {{ event.User.first_name + ' ' + event.User.last_name }} </li>
        <li class="list-group-item">
          <strong>Email</strong>: {{ event.User.email }} </li>

      </ul>
      <ul class="list-group pw-lists">
        <h5 class="mb-20">Job Summary</h5>
        <li class="list-group-item">
          <strong>Venue</strong>: {{ event.venue }} </li>
        <li class="list-group-item">
          <strong>Address</strong> {{ event.address }} </li>
        <li class="list-group-item">
          <strong>Job Type</strong>: {{ event.JobType.name}} </li>
        <li class="list-group-item"><strong>Job Options</strong>: {{ event.job_type_specs }}</li>
        <li class="list-group-item">
          <strong>Start Date</strong>: {{ event.date }} </li>
      </ul>
      <ul class="list-group pw-lists">
        <h5 class="mb-20">Coordinator</h5>
        <li class="list-group-item">
          <strong>Coordinator</strong>: {{ event.point_of_contact }} </li>
        <li class="list-group-item">
          <strong>Phone Number</strong>: {{ event.phone_number }} </li>
        <li class="list-group-item">
          <strong>Email</strong>: {{ event.email }} </li>


      </ul>
      <!--a data-toggle="modal" href="#chngPass" class="btn btn-success btn-xs btn-icon mb-20"><i class="fa fa-lock"></i> Change Password</a>
  <a data-toggle="modal" href="#delEntry" class="btn btn-danger btn-xs btn-icon mb-20"><i class="fa fa-trash"></i> Delete Entry</a-->

    </div>
    <div class="col-md-8">
      <h5 class="mb-20">Job Details</h5>
      <form action="" method="post">

        <div class="form-group">
          <label for="entryTitle">Job Title</label>
          <input type="text" class="form-control" readonly name="entryTitle" required="required" ng-model="event.venue" />
        </div>

        <div class="form-group">
          <label for="entryDesc">Description</label>
          <textarea class="form-control" readonly name="entryDesc" required="required" rows="4" ng-model="event.description"></textarea>
        </div>

        <h5>Invited Officers</h5>
        <table class="table table-bordered">
          <thead>
            <th>Name</th>
            <th>Invitation Status</th>
            <th>Leo Merchant Status</th>
          </thead>
          <tbody>
            <tr ng-repeat="inv in $ctrl.leoInvites">
              <td>{{inv.Leo.firstName}} {{inv.Leo.lastName}}</td>
              <td>{{inv.status}}</td>
              <td>{{inv.Leo.btStatus}}</td>
            </tr>
          </tbody>
        </table>

        <h5>Interested Officers</h5>
        <ul>
          <li ng-repeat="name in event.interested_officers.split(',')"> {{ name }}</li>
        </ul>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="entryUsername">Client</label>
              <input type="text" class="form-control" name="entryUsername" value="" />
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="entryEmail">Email</label>
              <input type="text" class="form-control" name="entryEmail" value="myContact@okcnm.org" />
            </div>
          </div>
        </div>
        <input name="catIdOld" type="hidden" value="11" />
        <input name="entryTitleOld" type="hidden" value="+nA0ZaI7TxeLO3MbHsiRJ/RXhJpb6xnjCcUQzOipr/Q=" />

        <button ng-if="isLeo" class="btn btn-primary" type="button" ng-click="expressInterest()">Express interest</button>

        <div ng-if="isAdminUser" class="col-md-3" id="approve-modal">
          <a id="modal-118275" href="#modal-container-118275" role="button" class="btn btn-success btn-icon btn-rounded" ng-click="approve()" data-toggle="modal"><i class="fa fa-check-square-o" aria-hidden="true"></i>Approve Job</a>
          <div class="modal fade" id="modal-container-118275" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    Assign Officers
                  </h4>
                </div>
                <div class="modal-body" style="overflow: auto;">

                  <script type="text/ng-template" id="list.html">
                    <ul dnd-list dnd-drop="onDrop(list, item, index)">
                      <li ng-repeat="item in list.items"
                          data-leo-id="{{item.leo_id}}"
                          dnd-draggable="getSelectedItemsIncluding(list, item)"
                          dnd-dragstart="onDragstart(list, event)"
                          dnd-moved="onMoved(list)"
                          dnd-dragend="list.dragging = false"
                          dnd-selected="item.selected = !item.selected"
                          ng-class="{'selected': item.selected}"
                          ng-hide="list.dragging && item.selected">
                        {{item.name}}
                      </li>
                    </ul>
                  </script>

                  <script type="text/ng-template" id="leoList.html">
                    <ul dnd-list dnd-drop="onDrop(list, item, index)">
                      <li ng-repeat="item in list.items"
                          data-leo-id="{{item.leo_id}}"
                          dnd-draggable="getSelectedItemsIncluding(list, item)"
                          dnd-dragstart="onDragstart(list, event)"
                          dnd-moved="onMoved(list)"
                          dnd-dragend="list.dragging = false"
                          dnd-selected="item.selected = !item.selected"
                          ng-class="{'selected': item.selected}"
                          ng-hide="list.dragging && item.selected">
                        {{item.name}}
                      </li>
                    </ul>
                  </script>

                  <script type="text/ng-template" id="container.html">
                    <div class="container-element box box-blue">
                      <h3>Container {{item.id}}</h3>
                      <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                      <div class="clearfix"></div>
                    </div>
                  </script>

                  <!-- Template for a normal list item -->
                  <script type="text/ng-template" id="item.html">
                    <div class="item">Item {{item.id}}</div>
                  </script>

                  <!-- Auto select parameters -->
                  <div class="">
                    <div class="form-inline" style="margin-bottom: 10px">
                      <div class="form-group">
                        <input class="form-control" min="0" id="auto-round-one-input" style="width: 100px" placeholder="Round 1" type="number">
                        <input class="form-control" min="0" id="auto-round-two-input" style="width: 100px" placeholder="Round 2" type="number">
                        <input class="form-control" min="0" id="auto-round-three-input" style="width: 100px" placeholder="Round 3" type="number">
                      </div>

                      <button type="button" ng-click="$ctrl.autoSelect()" class="btn btn-default btn-rounded">
                        Auto select
                      </button>
                    </div>

                  </div>

                  <!-- Main area with dropzones and source code -->
                  <div class="col-md-12 multiDemo">
                    <div class="row">

                      <div ng-repeat="list in leosList" class="col-md-3" id="leo-list">
                        <div class="dropzone box box-yellow">
                          <!-- The dropzone also uses the list template -->
                          <h5>{{ list.listName }}</h5>
                          <div ng-include="'leoList.html'"></div>
                        </div>
                      </div>

                      <div ng-repeat="list in invitesList" class="col-md-3">
                        <div class="dropzone box box-yellow">
                          <!-- The dropzone also uses the list template -->
                          <h5>{{ list.listName }}</h5>
                          <div ng-include="'list.html'"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ul data-as-sortable="board.dragControlListeners" data-ng-model="items">
                    <li data-ng-repeat="item in items" data-as-sortable-item>
                      <div data-as-sortable-item-handle></div>
                    </li>
                  </ul>

                  <ul data-as-sortable="board.dragControlListeners" data-ng-model="items">
                    <li data-ng-repeat="item in items" data-as-sortable-item>
                      <div data-as-sortable-item-handle></div>
                    </li>
                  </ul>

                </div>
                <div class="modal-footer">

                  <div class="pull-left form-inline">
                    <div class="form-group">
                      <label>Sort by: </label>
                      <select class="form-control" ng-change="$ctrl.orderByChange(leoSort)" ng-model="leoSort">
                        <option value="name">By Name</option>
                        <option value="lastGig">By Last Gig</option>
                        <option value="year_started">By Year started</option>
                      </select>
                    </div>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                      <label>Filter by: </label>
                      <select class="form-control" ng-model="leoFilter">
                        <option value="">---- Officers preffered Job Types ----</option>
                        <option ng-repeat="type in jobTypes" value="{{::type.name}}">{{::type.name}}</option>
                      </select>
                    </div>

                    <!-- CHECKBOXES for filter is too messy -->
                    <!-- <div class="form-group">
                      <label>Filter by: </label>

                      <div ng-repeat="type in jobTypes" class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          {{type.name}}
                        </label>
                      </div>

                    </div> -->

                  </div>

                  <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal">
                    Close
                  </button>
                  <button type="button" class="btn btn-primary btn-rounded" data-dismiss="modal" ng-click="saveDrags()">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="isAdminUser" class="col-md-3" id="complete-modal">
          <a id="modal-338275" href="#modal-container-338275" role="button" class="btn btn-primary btn-icon btn-rounded" data-toggle="modal"><i class="fa fa-check-square-o" aria-hidden="true"></i>Complete Job</a>
          <div class="modal fade" id="modal-container-338275" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    Assigned Officers
                  </h4>
                </div>
                <div class="modal-body" style="overflow: auto;">

                  <div class="col-md-12">
                    <div class="row">
                      Cost of the event
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input ng-model="$ctrl.adjustedAmount" type="number" class="form-control">
                      </div>

                    </div>

                    <div class="row">
                      <table class="table table-bordered table-responsive table-hover">
                        <thead>
                          <th>Element</th>
                          <th>Rate</th>
                          <th>Needed</th>
                          <th>Cost</th>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Cost for {{event.JobType.name}}</th>
                            <td colspan="2">${{$ctrl.eventCost.base.cost}}</td>
                            <td>${{$ctrl.eventCost.base.total}}</td>
                          </tr>
                          <tr>
                            <th>Cost for Officers</th>
                            <td>${{$ctrl.eventCost.officers.cost}} per officer</td>
                            <td>{{$ctrl.eventCost.officers.count}} officer(s)</td>
                            <td>${{$ctrl.eventCost.officers.total}}</td>
                          </tr>
                          <tr>
                            <th>Cost for duration of Job</th>
                            <td>${{$ctrl.eventCost.time.cost}} per hour</td>
                            <td>{{$ctrl.eventCost.time.count}} hour(s)</td>
                            <td>${{$ctrl.eventCost.time.total}}</td>
                          </tr>
                          <tr>
                            <th>Cost for Crowd</th>
                            <td>${{$ctrl.eventCost.crowd.cost}} / 10 people</td>
                            <td>{{$ctrl.eventCost.crowd.count}} hour(s)</td>
                            <td>${{$ctrl.eventCost.crowd.total}}</td>
                          </tr>
                          <tr>
                            <th>Cost for Alcohol</th>
                            <td colspan="2">${{$ctrl.eventCost.alcohol.cost}}</td>
                            <td>${{$ctrl.eventCost.alcohol.total}}</td>
                          </tr>
                          <tr>
                            <th>Cost for Police Vehicle</th>
                            <td colspan="2">${{$ctrl.eventCost.police_vehicle.cost}}</td>
                            <td>${{$ctrl.eventCost.police_vehicle.total}}</td>
                          </tr>
                          <tr>
                            <th>Cost for Barricade</th>
                            <td colspan="2">${{$ctrl.eventCost.barricade.cost}}</td>
                            <td>${{$ctrl.eventCost.barricade.total}}</td>
                          </tr>
                          <tr>
                            <th>Cost for Amplified Sound</th>
                            <td colspan="2">${{$ctrl.eventCost.amplified_sound.cost}}</td>
                            <td>${{$ctrl.eventCost.amplified_sound.total}}</td>
                          </tr>
                          <tr>
                            <th>Service Charge</th>
                            <td colspan="2">${{$ctrl.eventCost.service_charge}}</td>
                            <td>${{$ctrl.eventCost.service_charge}}</td>
                          </tr>
                          <tr>
                            <th colspan="3">Grand Total ==></th>
                            <td>${{$ctrl.eventCost.grand_total}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <br />
                    <h4>Leos to be paid</h4>
                    <div class="row">
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="leo in $ctrl.receivingLeos">
                          Name: <b>{{leo.name}}</b>
                          BT Status: <b>{{leo.btStatus}}</b>
                        </li>
                      </ul>

                    </div>
                  </div>

                </div>
                <div class="modal-footer">

                  <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal">
                    Close
                  </button>
                  <button type="button" class="btn btn-primary btn-rounded" data-dismiss="modal" ng-click="$ctrl.complete()">
                    Complete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="isAdminUser" class="col-md-6" id="reject-modal">
          <a id="modal-349281" href="#modal-container-349281" role="button" class="btn btn-danger btn-icon btn-rounded" data-toggle="modal"><i class="fa fa-exclamation-triangle" aria-hidden="true">Reject Job</i></a>
          <!--<button type="input" name="submit" value="saveEntry" class="btn btn-danger btn-icon mb-20"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Decline Job</button>-->
          <div class="modal fade" id="modal-container-349281" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                   Event Rejection Notification
                  </h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal">
                    <fieldset>

                      <!-- Form Name -->
                      <legend>Form Name</legend>

                      <!-- Multiple Checkboxes -->
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="checkboxes">Notify Client of Rejection</label>
                        <div class="col-md-4">
                          <div class="checkbox">
                            <label for="checkboxes-0">
                              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                              SMS Text
                            </label>
                          </div>
                          <div class="checkbox">
                            <label for="checkboxes-1">
                              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                              Email
                            </label>
                          </div>
                        </div>
                      </div>

                      <!-- Textarea -->
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="textarea">Rejection Feedback</label>
                        <div class="col-md-4">
                          <textarea class="form-control" id="textarea" name="textarea">Your event registration has been rejected</textarea>
                        </div>
                      </div>

                    </fieldset>
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                  </button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- <button type="input" name="submit" value="saveEntry" class="btn btn-success btn-icon mb-20"><i class="fa fa-check-square-o" aria-hidden="true"></i> Approve Job</button>
        <button type="input" name="submit" value="saveEntry" class="btn btn-danger btn-icon mb-20"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Decline Job</button> -->
      </form>
    </div>
  </div>
</div>
