<div class='container'>
  <div class=''>
    <!-- <div class='container' style="margin-bottom: 30px;">
      <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
    </div> -->


    <div class='col-xs-12 col-md-6 center-block margin-top-30'>

      <div class="panel panel-default">
        <div class="panel-heading">
          Login
        </div>
        <div class="panel-body">
          <form class='form' name='form' ng-submit='vm.login(form)' novalidate>

            <div class='form-group'>
              <label>Email</label>

              <input placeholder="Email" type='email' name='email' class='form-control' ng-model='vm.user.email' required>
            </div>

            <div class='form-group'>
              <label>Password</label>

              <input placeholder="Password" type='password' name='password' class='form-control' ng-model='vm.user.password' required>
            </div>

            <div class='form-group'>
              <label>Login as Leo</label>

              <input type='checkbox' class='form-control' ng-model='vm.isLeoLogin'>
            </div>

            <div class='form-group has-error'>
              <p class='help-block' ng-show='form.email.$error.required && form.password.$error.required && vm.submitted'>
                Please enter your email and password.
              </p>
              <p class='help-block' ng-show='form.email.$error.email && vm.submitted'>
                Please enter a valid email.
              </p>

              <p class='help-block'>{{ vm.errors.login }}</p>

            </div>

            <div class="col-xs-12 " style="margin-bottom: 20px; padding: 0px;">
              <button ng-hide='vm.isLeoLogin' class='btn btn-primary btn-lg btn-login btn-block' type='submit'>
                Login as User or Admin
              </button>
              <button ng-show='vm.isLeoLogin' class='btn btn-primary btn-lg btn-login btn-block' ng-click='vm.loginLeo(form)' type='button'>
                Login as Leo
              </button>
              <button type="button" class='btn btn-primary btn-lg btn-login btn-block' ng-click="vm.showForgotInput = !vm.showForgotInput">
                Forgot Password
              </button>
              <div style="padding: 10px" ng-if="vm.showForgotInput">
                <input type="email" ng-model="vm.forgotEmail" class="form-control" placeholder="Type in your email to reset your password">
                <button style="margin-top: 10px" type="button" class="btn btn-block btn-primary" ng-click="vm.forgotPassword()">
                  Retrieve
                </button>
                <div style="padding: 10px" ng-if="vm.showForgotCodeInput">
                  <input style="margin-top: 10px" class="form-control" type="text" ng-model="vm.forgotPasswordCode" placeholder="Code sent to your email e.g. 345JFU78">
                  <input style="margin-top: 10px" class="form-control" type="password" ng-model="vm.forgotNewPassword" placeholder="Choose a new password.">
                  <input style="margin-top: 10px" class="form-control" type="password" ng-model="vm.repeatForgotNewPassword" placeholder="Repeat password">
                  
                  <button style="margin-top: 10px" class="btn btn-block btn-primary" type="button" ng-click="vm.submitForgotCode()">Submit Code</button>
                </div>
              </div>
              <button class='btn btn-rounded btn-info btn-lg btn-block' ui-sref='signup'>
                Register
              </button>
            </div>
          </form>

        </div>

      </div>


      <hr/>


    </div>

  </div>
  <div class="well well-sm accInfo mb-20">
    <h5 class="mt-5 mb-10">Your Account Entries are secure.</h5>
    <small>We store all Account Entry information you save in our database in an encrypted format. We do not sell or make your information available to any one for any reason.</small>
  </div>
  <hr>
</div>

