<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="leo in $ctrl.awesomeLeos">
        <li><a href="#" uib-tooltip="{{leo.name}}">{{leo.name}}</a></li>
        <li><a href="#" uib-tooltip="{{leo.name}}">{{leo.phone}}</a></li>
        <li><a href="#" uib-tooltip="{{leo.name}}">{{leo.email}}</a></li>
        <li><a href="#" uib-tooltip="{{leo.name}}">{{leo.department_id}}</a></li>
        <li><a href="#" uib-tooltip="{{leo.info}}">{{leo.year_started}}</a></li>
        <li><a href="#" uib-tooltip="{{leo.info}}">{{leo.lastGig}}<button type="button" class="close" ng-click="$ctrl.deleteLeo(leo)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="leo-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="LEO Name." ng-model="$ctrl.name">
      <input type="text" class="form-control" placeholder="LEO Phone." ng-model="$ctrl.phone">
      <input type="text" class="form-control" placeholder="LEO Email." ng-model="$ctrl.email">
      <input type="text" class="form-control" placeholder="LEO Department ID." ng-model="$ctrl.department_id">
      <input type="text" class="form-control" placeholder="LEO Hire Date." ng-model="$ctrl.year_started">
      <input type="text" class="form-control" placeholder="LEO Last Gig." ng-model="$ctrl.lastGig">
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.addLeo()">Add New</button>
      <span class="input-group-btn">
      </span>
    </p>
  </form>
</div>
