<div class="container main-content mb-20">
  <h3 class="mb-20">Job Creation &mdash; New Job</h3>

  <section>
    <div class="wizard">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">

          <li role="presentation" ng-class="{active: progress === 1, disabled: progress !== 1}">
            <a aria-controls="step1" role="tab" uib-tooltip="Venue">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-map-marker"></i>
              </span>
            </a>
          </li>

          <!-- data-toggle="tab" -->
          <li role="presentation" ng-class="{active: progress === 2, disabled: progress !== 2}">
            <a aria-controls="step2" role="tab" uib-tooltip="Job">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-folder-open"></i>
              </span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: progress === 3, disabled: progress !== 3}">
            <a aria-controls="step3" role="tab" uib-tooltip="Cost">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
            </a>
          </li>

          <li role="presentation" ng-class="{active: progress === 4, disabled: progress !== 4}">
            <a aria-controls="complete" role="tab" uib-tooltip="Payment">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-credit-card"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <form method="post" name="newEventForm" id="PaymentForm" ng-submit="submitForm($event)" class="form-horizontal" role="form">
        <div class="tab-content">
          <div class="tab-pane" ng-class="{active: progress == 1}" role="tabpanel" id="step1">
            <h3 class="margin-bottom-10">Venue</h3>

            <!--<div class="form-group">-->
              <!--<label for="title" id="titleLabel" class="control-label col-md-3">Title</label>-->
              <!--<div class="col-md-9">-->
                <!--<input name="title" type="text" ng-model="eventData.title" required id="title" class="form-control" placeholder="e.g. Mary and Michael's Wedding" />-->
              <!--</div>-->
            <!--</div>-->

            <div class="form-group">
              <label for="nameOfVenue" id="nameOfVenueLabel" class="control-label col-md-3">Venue Name</label>
              <div class="col-md-9">
                <input name="nameOfVenue" type="text" ng-model="eventData.nameOfVenue" required id="nameOfVenue" class="form-control" placeholder="Enter the Name of the Venue"/>
              </div>
            </div>

            <div class="form-group">
              <label for="address" id="addressLabel" class="control-label col-md-3">Venue Address</label>
              <div class="col-md-9">
                <div id="locationField">
                  <input class="form-control" ng-model="eventData.location" required id="autocomplete" placeholder="Enter Venue Address" name="address" g-places-autocomplete autocomplete="off" type="text">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="poContact" id="poContactLabel" class="control-label col-md-3">Venue Manager / Point of Contact</label>
              <div class="col-md-9">
                <input name="poContact" ng-model="eventData.poContact" required type="text" id="poContact" class="form-control" placeholder="Enter the Venue Point of Contact" />
              </div>
            </div>

            <div class="form-group">
              <label for="phoneNumber" id="phoneNumberLabel" class="control-label col-md-3">Venue Point of Contact Phone Number</label>
              <div class="col-md-9">
                <input name="phoneNumber" ng-model="eventData.phoneNumber" required type="tel" id="phoneNumber" class="form-control" placeholder="Enter Venue Point of Contact Phone Number" />
              </div>
            </div>

            <div class="form-group">
              <label for="email" id="emailLabel" class="control-label col-md-3">Venue Point of Contact Email</label>
              <div class="col-md-9">
                <input name="email" ng-model="eventData.email" required type="email" id="email" class="form-control" placeholder="Enter Venue Point of Contact Email Address" />
              </div>
            </div>

          </div>
          <div class="tab-pane" ng-class="{active: progress == 2}" role="tabpanel" id="step2">
            <h3 class="margin-bottom-10">Job Details</h3>


            <div class="form-group">
              <label for="jobType" id="jobTypeLabel" class="control-label col-md-3">Job Type</label>
              <div class="col-md-9">
                <select name="jobType" required ng-model="eventData.jobType" id="jobType" class="form-control">
                  <option value="">Please select the Job Type</option>
                  <option ng-repeat="job in jobTypes" ng-value="job">{{job.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="jobSpecs" id="jobSpecsLabel" class="control-label col-md-3">Job Type Specific Options (Lookups)</label>
              <div class="col-md-9">
                <select class="selectpicker form-control" ng-model="eventData.jobSpecs" multiple name="jobSpecs" id="jobSpecs" title="Select a Job Type first">
                  <option ng-repeat="spec in eventData.jobType.Lookups" value="{{spec._id}}"><b>{{eventData.jobType.name}}</b> - {{spec.description}}</option>
                </select>
              </div>
            </div>

            <!--<div class="form-group">-->
              <!--<label for="officerName" id="officerNameLabel" class="control-label col-md-3">Name(s) of preferred officer(s)</label>-->
              <!--<div class="col-md-9">-->

                <!--<select class="selectpicker form-control" ng-model="eventData.officerName" multiple name="officerName" id="officer-select" title="Please Select Officers">-->
                  <!--<option ng-repeat="leo in awesomeLeos" value="{{leo._id}}">{{leo.firstName}} {{leo.lastName}}</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->

            <div class="form-group">
              <label for="description" id="descriptionLabel" class="control-label col-md-3">Event Description</label>
              <div class="col-md-9">
                <div id="descriptionField">
                  <textarea class="form-control" ng-model="eventData.description" placeholder="Add a description for your event" name="description"></textarea>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <div class="row">
                  <div class="col-md-3">
                    <label class="radio-inline">
                    <input type="radio" name="jobRecuring" id="inlineRadio1" ng-model="eventData.is_recuring" value="0" class="recuringJob" checked> One-off Job
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="radio-inline">
                    <input type="radio" name="jobRecuring" ng-click="showRecurringModal()" id="inlineRadio2" ng-model="eventData.is_recuring" value="1" class="recuringJob"> Recurring Job
                  </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="creationEventDate" id="creationEventDateLabel" class="control-label col-md-3">Event Date &amp; Time</label>
              <div class="col-md-4">
                <div class="input-group date" id="creationEventDateGroup">
                  <input type="text" ng-model="eventData.date" name="creationEventDate" class="form-control" id="creationEventDate" placeholder="Event Date" aria-describedby="helpBlock">
                  <span class="input-group-addon addonRightEve">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>

                </div>
                <span id="helpBlock" class="help-block"><span class="text-danger"><i class="fa fa-info-circle" aria-hidden="true"></i> A surcharge may be applied for events being registered less than 7 days before event date.</span></span>
              </div>

              <label for="attendeesNum" id="attendeesNumLabel" class="control-label col-md-3">Number of Attendees Expected</label>
              <div class="col-md-2">
                <input type="number" value="" min="1" ng-model="eventData.crowd_size" name="attendeesNum" class="form-control" id="attendeesNum" placeholder="1">
              </div>


            </div>

            <div class="form-group">
              <label for="OfficerArriveTime" id="OfficerArriveTimeLabel" class="control-label col-md-3">Officer(s) to arrive at</label>
              <div class="col-md-4">
                <div class="input-group date" id="OfficerArriveTimeGroup">
                  <input value="" ng-model="eventData.officer_arrival_time" name="officer_arrival_time" class="form-control" id="OfficerArriveTime" placeholder="Time">
                  <span class="input-group-addon addonRightEve">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </span>

                </div>
              </div>
              <label for="OfficerStayHours" id="OfficerStayHoursLabel" class="control-label col-md-3">Number of hours requested</label>
              <div class="col-md-2">
                <input type="number" value=""  ng-model="eventData.hours_expected" min="1" name="officer_stay_hours" class="form-control" id="OfficerStayHours" placeholder="1">
              </div>
            </div>

            <div class="form-group">
              <label for="officerUniform" required id="officerUniformLabel" class="control-label col-md-3">Uniform of Officer(s)</label>
              <div class="col-md-9">
                <select name="officerUniform" id="officerUniform" ng-model="eventData.officer_attire" class="form-control">
                  <option value="">Please select</option>
                  <optgroup label="Plain Clothes">
                    <option value="Formal">Formal</option>
                    <option value="Informal">Informal</option>
                    <option value="Other">Other</option>
                  <optgroup label="Uniform">
                    <option value="Police">Police</option>
                    <option value="ToBeSupplied">To be supplied by venue</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="alcoholServed" id="alcoholServedLabel" class="control-label col-md-3">Will alcohol be served? <span class="text-danger"><i class="fa fa-asterisk red" aria-hidden="true"></i></span></label>
              <div class="col-md-3">
                <label class="radio-inline">
                  <input type="radio" name="alcoholServed" ng-model="eventData.alcohol" id="alcoholServed1" value="yes"> yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="alcoholServed" ng-model="eventData.alcohol" id="alcoholServed2" value="no" checked="checked"> no
                </label>

              </div>
              <label for="policeVehicle" id="policeVehicleLabel" class="control-label col-md-3">Police vehicle required? <span class="text-danger"><i class="fa fa-asterisk red" aria-hidden="true"></i></span></label>
              <div class="col-md-3">
                <label class="radio-inline">
                  <input type="radio" name="policeVehicle" ng-model="eventData.police_vehicle" id="policeVehicle1" value="yes"> yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="policeVehicle" ng-model="eventData.police_vehicle" id="policeVehicle2" value="no" checked="checked"> no
                </label>

              </div>
            </div>

            <div class="form-group">
              <label for="barricadeRequested" id="barricadeRequestedLabel" class="control-label col-md-3">Barricades requested? <span class="text-danger"><i class="fa fa-asterisk red" aria-hidden="true"></i></span></label>
              <div class="col-md-3">
                <label class="radio-inline">
                  <input type="radio" name="barricadeRequested" ng-model="eventData.barricades" id="barricadeRequested1" value="yes"> yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="barricadeRequested" ng-model="eventData.barricades" id="barricadeRequested2" value="no" checked="checked"> no
                </label>

              </div>
              <label for="amplifiedSound" id="amplifiedSound" class="control-label col-md-3">Music or other amplified sound/explosions?<span class="text-danger"><i class="fa fa-asterisk red" aria-hidden="true"></i></span></label>
              <div class="col-md-3">
                <label class="radio-inline">
                  <input type="radio" name="amplifiedSound" ng-model="eventData.amplified_sound" id="amplifiedSound1" value="yes"> yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="amplifiedSound" ng-model="eventData.amplified_sound" id="amplifiedSound2" value="no" checked="checked"> no
                </label>

              </div>
            </div>

            <div class="well well-sm accInfo col-md-offset-3"><small><span class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></span> Additional fee may be charged.</small></div>

            <div class="form-group">
              <label for="additionalExpect" id="additionalExpectLabel" class="control-label col-md-3">Additional Expectations of officer(s)</label>
              <div class="col-md-9">
                <select class="selectpicker form-control" ng-model="eventData.operational_details" multiple name="additionalExpect" id="additionalExpect" title="Please select">
                  <option value="1">Activity Sheets</option>
                  <option value="2">Specialised Skills/Training</option>
                  <option value="3">W2 Forms with client</option>
                </select>
              </div>
            </div>

          </div>
          <div class="tab-pane" ng-class="{active: progress == 3}" role="tabpanel" id="step3">
            <h3 class="margin-bottom-10">Cost</h3>
            <table class="table table-bordered table-responsive table-hover">
              <thead>
                <th>Element</th>
                <th>Rate</th>
                <th>Needed</th>
                <th>Cost</th>
              </thead>
              <tbody>
                <tr>
                  <th>Cost for {{event.JobType.name}}</th>
                  <td colspan="2">${{eventCost.base.cost}}</td>
                  <td>${{eventCost.base.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Officers</th>
                  <td>${{eventCost.officers.cost}} per officer</td>
                  <td>{{eventCost.officers.count}} officer(s)</td>
                  <td>${{eventCost.officers.total}}</td>
                </tr>
                <tr>
                  <th>Cost for duration of Job</th>
                  <td>${{eventCost.time.cost}} per hour</td>
                  <td>{{eventCost.time.count}} hour(s)</td>
                  <td>${{eventCost.time.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Crowd</th>
                  <td>${{eventCost.crowd.cost}} / 10 people</td>
                  <td>{{eventCost.crowd.count}} hour(s)</td>
                  <td>${{eventCost.crowd.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Alcohol</th>
                  <td colspan="2">${{eventCost.alcohol.cost}}</td>
                  <td>${{eventCost.alcohol.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Police Vehicle</th>
                  <td colspan="2">${{eventCost.police_vehicle.cost}}</td>
                  <td>${{eventCost.police_vehicle.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Barricade</th>
                  <td colspan="2">${{eventCost.barricade.cost}}</td>
                  <td>${{eventCost.barricade.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Amplified Sound</th>
                  <td colspan="2">${{eventCost.amplified_sound.cost}}</td>
                  <td>${{eventCost.amplified_sound.total}}</td>
                </tr>
                <tr>
                  <th>Service Charge</th>
                  <td colspan="2">${{eventCost.service_charge}}</td>
                  <td>${{eventCost.service_charge}}</td>
                </tr>
                <tr>
                  <th colspan="3">Grand Total ==></th>
                  <td>${{eventCost.grand_total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
      <div class="margin-top-30">
        <button type="button" ng-hide="progress > 2 || progress == 1" ng-click="prevStep()" class="btn btn-primary btn-info-full btn-rounded next-step pull-left">Go back</button>

        <input type="button" ng-if="progress === 4" name="SubmitButton" value="Place Order" id="SubmitButton" class="btn btn-primary  btn-rounded procedCheckout pull-right" />
        <button type="button" ng-hide="progress === 4" ng-click="nextStep()" class="btn btn-primary btn-info-full next-step pull-right btn-rounded">Save and continue</button>
      </div>
    </div>

  </section>
</div>

<div class="modal fade" id="recurrentJob" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div style="padding: 10px">
        <div id='external-events' style="padding: 10px">
          <h4>Drag this event to schedule as many shifts</h4>
          <div data-event="{{ {title: eventData.nameOfVenue} }}"
            class='fc-event'>{{eventData.nameOfVenue}}</div>
        </div>
        <div id="recurring-calendar" style="height: 500px"></div>
        
      </div>

      <div class="modal-footer">
        <button ng-click="setRecurringEvents()" data-dismiss="modal" class="btn btn-success btn-icon-alt"><i class="fa fa-check"></i> Save</button>
        <button type="button" class="btn btn-warning btn-icon" data-dismiss="modal"><i class="fa fa-times-circle-o"></i> Cancel</button>
      </div>

    </div>

  </div>
</div>
