<div class="container main-content mb-20">
  <h3 class="mb-20">Job Creation &mdash; New Job</h3>

  <section>
    <div class="wizard">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">

          <li role="presentation" ng-class="{active: progress === 1, disabled: progress !== 1}">
            <a aria-controls="step1" role="tab" uib-tooltip="Venue">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-map-marker"></i>
              </span>
            </a>
          </li>

          <!-- data-toggle="tab" -->
          <li role="presentation" ng-class="{active: progress === 2, disabled: progress !== 2}">
            <a aria-controls="step2" role="tab" uib-tooltip="Job">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-folder-open"></i>
              </span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: progress === 3, disabled: progress !== 3}">
            <a aria-controls="step3" role="tab" uib-tooltip="Cost">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
              </span>
            </a>
          </li>

          <li role="presentation" ng-class="{active: progress === 4, disabled: progress !== 4}">
            <a aria-controls="complete" role="tab" uib-tooltip="Payment">
              <span class="round-tab">
                  <i class="glyphicon glyphicon-credit-card"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <form method="post" name="newEventForm" id="PaymentForm" ng-submit="submitForm($event)" class="form-horizontal" role="form">
        <div class="tab-content">
          <div class="tab-pane" ng-class="{active: progress == 1}" role="tabpanel" id="step1">
            <h3 class="margin-bottom-10">Venue</h3>

            <!--<div class="form-group">-->
              <!--<label for="title" id="titleLabel" class="control-label col-md-3">Title</label>-->
              <!--<div class="col-md-9">-->
                <!--<input name="title" type="text" ng-model="eventData.title" required id="title" class="form-control" placeholder="e.g. Mary and Michael's Wedding" />-->
              <!--</div>-->
            <!--</div>-->

            <div class="form-group">
              <label for="nameOfVenue" id="nameOfVenueLabel" class="control-label col-md-3">Venue Name</label>
              <div class="col-md-9">
                <input name="nameOfVenue" type="text" ng-model="eventData.nameOfVenue" required id="nameOfVenue" class="form-control" placeholder="Enter the Name of the venue" />
              </div>
            </div>

            <div class="form-group">
              <label for="address" id="addressLabel" class="control-label col-md-3">Venue Address</label>
              <div class="col-md-9">
                <div id="locationField">
                  <input class="form-control" ng-model="eventData.location" required id="autocomplete" placeholder="Enter your address" name="address" g-places-autocomplete autocomplete="off" type="text"></input>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="poContact" id="poContactLabel" class="control-label col-md-3">Venue Manager / Point of Contact</label>
              <div class="col-md-9">
                <input name="poContact" ng-model="eventData.poContact" required type="text" id="poContact" class="form-control" placeholder="Enter point of Contact" />
              </div>
            </div>

            <div class="form-group">
              <label for="phoneNumber" id="phoneNumberLabel" class="control-label col-md-3">Venue Phone Number</label>
              <div class="col-md-9">
                <input name="phoneNumber" ng-model="eventData.phoneNumber" required type="tel" id="phoneNumber" class="form-control" placeholder="Enter your phone number" />
              </div>
            </div>

            <div class="form-group">
              <label for="email" id="emailLabel" class="control-label col-md-3">Venue Email</label>
              <div class="col-md-9">
                <input name="email" ng-model="eventData.email" required type="email" id="email" class="form-control" placeholder="Coordinator email address" />
              </div>
            </div>

          </div>
          <div class="tab-pane" ng-class="{active: progress == 2}" role="tabpanel" id="step2">
            <h3 class="margin-bottom-10">Job Details</h3>


            <div class="form-group">
              <label for="jobType" id="jobTypeLabel" class="control-label col-md-3">Job Type</label>
              <div class="col-md-9">
                <select name="jobType" required ng-model="eventData.jobType" id="jobType" class="form-control">

                  <option value="">Please select the Job Type</option>
                  <option ng-repeat="j in jobTypes" value="{{j._id}}">{{j.name}}</option>

                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="jobSpecs" id="jobSpecsLabel" class="control-label col-md-3">Job Type Specific Options</label>
              <div class="col-md-9">
                <select class="selectpicker form-control" ng-model="eventData.jobSpecs" multiple name="jobSpecs" id="jobSpecs" title="Select a Job Type first">
                  <option ng-repeat="spec in jobTypeSpecs" value="{{spec.value}}" data-job="{{spec.data_job}}">{{spec.type_spec}}</option>

                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="officerName" id="officerNameLabel" class="control-label col-md-3">Name(s) of preferred officer(s)</label>
              <div class="col-md-9">

                <select class="selectpicker form-control" ng-model="eventData.officerName" multiple name="officerName" title="Please Select">
                  <option value="6" data-subtext="Dallas">Lance Jones</option>
                  <option value="2" data-subtext="Edmond">Roger Lockwood</option>
                  <option value="5" data-subtext="Oklahoma City">Joshua Tree</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="description" id="descriptionLabel" class="control-label col-md-3">Event Description</label>
              <div class="col-md-9">
                <div id="descriptionField">
                  <textarea class="form-control" ng-model="eventData.description" placeholder="Add a description for your event" name="description"></textarea>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <div class="row">
                  <div class="col-md-3">
                    <label class="radio-inline">
                    <input type="radio" name="jobRecuring" id="inlineRadio1" ng-model="eventData.is_recuring" value="0" class="recuringJob" checked> One-off Job
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="radio-inline">
                    <input type="radio" name="jobRecuring" ng-click="showRecurringModal()" id="inlineRadio2" ng-model="eventData.is_recuring" value="1" class="recuringJob"> Recurring Job
                  </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="creationEventDate" id="creationEventDateLabel" class="control-label col-md-3">Event Date &amp; Time</label>
              <div class="col-md-4">
                <div class="input-group date" id="creationEventDateGroup">
                  <input type="text" ng-model="eventData.date" name="creationEventDate" class="form-control" id="creationEventDate" placeholder="Event Date" aria-describedby="helpBlock">
                  <span class="input-group-addon addonRightEve">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>

                </div>
                <span id="helpBlock" class="help-block"><span class="text-danger"><i class="fa fa-info-circle" aria-hidden="true"></i> A surcharge may be applied for events being registered less than 7 days before event date.</span></span>
              </div>

              <label for="attendeesNum" id="attendeesNumLabel" class="control-label col-md-3">Number of Attendees Expected</label>
              <div class="col-md-2">
                <input type="number" value="" min="0" ng-model="eventData.crowd_size" name="attendeesNum" class="form-control" id="attendeesNum" placeholder="0">
              </div>


            </div>

            <div class="form-group">
              <label for="OfficerArriveTime" id="OfficerArriveTimeLabel" class="control-label col-md-3">Officer(s) to arrive at</label>
              <div class="col-md-4">
                <div class="input-group date" id="OfficerArriveTimeGroup">
                  <input value="" ng-model="eventData.officer_arrival_time" name="officer_arrival_time" class="form-control" id="OfficerArriveTime" placeholder="Time">
                  <span class="input-group-addon addonRightEve">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </span>

                </div>
              </div>
              <label for="OfficerStayHours" id="OfficerStayHoursLabel" class="control-label col-md-3">Number of hours requested</label>
              <div class="col-md-2">
                <input type="number" value="" ng-model="eventData.hours_expected" min="0" name="officer_stay_hours" class="form-control" id="OfficerStayHours" placeholder="1">
              </div>
            </div>

            <div class="form-group">
              <label for="officerUniform" required id="officerUniformLabel" class="control-label col-md-3">Uniform of Officer(s)</label>
              <div class="col-md-9">
                <select name="officerUniform" id="officerUniform" ng-model="eventData.officer_attire" class="form-control">
                  <option value="">Please select</option>
                  <optgroup label="Plain Clothes">
                    <option value="Formal">Formal</option>
                    <option value="Informal">Informal</option>
                    <option value="Other">Other</option>
                  <optgroup label="Uniform">
                    <option value="Police">Police</option>
                    <option value="ToBeSupplied">To be supplied by venue</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="alcoholServed" id="alcoholServedLabel" class="control-label col-md-3">Will alcohol be served? <span class="text-danger"><i class="fa fa-asterisk red" aria-hidden="true"></i></span></label>
              <div class="col-md-3">
                <label class="radio-inline">
                  <input type="radio" name="alcoholServed" ng-model="eventData.alcohol" id="alcoholServed1" value="yes"> yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="alcoholServed" ng-model="eventData.alcohol" id="alcoholServed2" value="no" checked="checked"> no
                </label>

              </div>
              <label for="policeVehicle" id="policeVehicleLabel" class="control-label col-md-3">Police vehicle required? <span class="text-danger"><i class="fa fa-asterisk red" aria-hidden="true"></i></span></label>
              <div class="col-md-3">
                <label class="radio-inline">
                  <input type="radio" name="policeVehicle" ng-model="eventData.police_vehicle" id="policeVehicle1" value="yes"> yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="policeVehicle" ng-model="eventData.police_vehicle" id="policeVehicle2" value="no" checked="checked"> no
                </label>

              </div>
            </div>

            <div class="form-group">
              <label for="barricadeRequested" id="barricadeRequestedLabel" class="control-label col-md-3">Barricades requested? <span class="text-danger"><i class="fa fa-asterisk red" aria-hidden="true"></i></span></label>
              <div class="col-md-3">
                <label class="radio-inline">
                  <input type="radio" name="barricadeRequested" ng-model="eventData.barricades" id="barricadeRequested1" value="yes"> yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="barricadeRequested" ng-model="eventData.barricades" id="barricadeRequested2" value="no" checked="checked"> no
                </label>

              </div>
              <label for="amplifiedSound" id="amplifiedSound" class="control-label col-md-3">Music or other amplified sound/explosions?<span class="text-danger"><i class="fa fa-asterisk red" aria-hidden="true"></i></span></label>
              <div class="col-md-3">
                <label class="radio-inline">
                  <input type="radio" name="amplifiedSound" ng-model="eventData.amplified_sound" id="amplifiedSound1" value="yes"> yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="amplifiedSound" ng-model="eventData.amplified_sound" id="amplifiedSound2" value="no" checked="checked"> no
                </label>

              </div>
            </div>

            <div class="well well-sm accInfo col-md-offset-3"><small><span class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></span> Additional fee may be charged.</small></div>

            <div class="form-group">
              <label for="additionalExpect" id="additionalExpectLabel" class="control-label col-md-3">Additional Expectations of officer(s)</label>
              <div class="col-md-9">
                <select class="selectpicker form-control" ng-model="eventData.operational_details" multiple name="additionalExpect" id="additionalExpect" title="Please select">
                  <option value="1">Activity Sheets</option>
                  <option value="2">Specialised Skills/Training</option>
                  <option value="3">W2 Forms with client</option>
                </select>
              </div>
            </div>

          </div>
          <div class="tab-pane" ng-class="{active: progress == 3}" role="tabpanel" id="step3">
            <h3 class="margin-bottom-10">Cost</h3>
            <table class="table table-bordered table-responsive table-hover">
              <thead>
                <th>Element</th>
                <th>Rate</th>
                <th>Needed</th>
                <th>Cost</th>
              </thead>
              <tbody>
                <tr>
                  <th>Cost for {{event.JobType.name}}</th>
                  <td colspan="2">${{eventCost.base.cost}}</td>
                  <td>${{eventCost.base.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Officers</th>
                  <td>${{eventCost.officers.cost}} per officer</td>
                  <td>{{eventCost.officers.count}} officer(s)</td>
                  <td>${{eventCost.officers.total}}</td>
                </tr>
                <tr>
                  <th>Cost for duration of Job</th>
                  <td>${{eventCost.time.cost}} per hour</td>
                  <td>{{eventCost.time.count}} hour(s)</td>
                  <td>${{eventCost.time.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Crowd</th>
                  <td>${{eventCost.crowd.cost}} / 10 people</td>
                  <td>{{eventCost.crowd.count}} hour(s)</td>
                  <td>${{eventCost.crowd.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Alcohol</th>
                  <td colspan="2">${{eventCost.alcohol.cost}}</td>
                  <td>${{eventCost.alcohol.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Police Vehicle</th>
                  <td colspan="2">${{eventCost.police_vehicle.cost}}</td>
                  <td>${{eventCost.police_vehicle.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Barricade</th>
                  <td colspan="2">${{eventCost.barricade.cost}}</td>
                  <td>${{eventCost.barricade.total}}</td>
                </tr>
                <tr>
                  <th>Cost for Amplified Sound</th>
                  <td colspan="2">${{eventCost.amplified_sound.cost}}</td>
                  <td>${{eventCost.amplified_sound.total}}</td>
                </tr>
                <tr>
                  <th colspan="3">Grand Total ==></th>
                  <td>${{eventCost.grand_total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
      <div class="margin-top-30">
        <button type="button" ng-hide="progress > 2 || progress == 1" ng-click="prevStep()" class="btn btn-primary btn-info-full btn-rounded next-step pull-left">Go back</button>

        <input type="button" ng-if="progress === 4" name="SubmitButton" value="Place Order" id="SubmitButton" class="btn btn-primary  btn-rounded procedCheckout pull-right" />
        <button type="button" ng-hide="progress === 4" ng-click="nextStep()" class="btn btn-primary btn-info-full next-step pull-right btn-rounded">Save and continue</button>
      </div>
    </div>

  </section>
</div>

<div class="modal fade" id="recurrentJob" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#daily" aria-controls="daily" role="tab" data-toggle="tab">Daily</a></li>
          <li role="presentation"><a href="#weekly" aria-controls="weekly" role="tab" data-toggle="tab">Weekly</a></li>
          <li role="presentation"><a href="#monthly" aria-controls="monthly" role="tab" data-toggle="tab">Monthly</a></li>
          <li role="presentation"><a href="#yearly" aria-controls="yearly" role="tab" data-toggle="tab">Yearly</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding:30px 15px 10px 15px;">
          <div role="tabpanel" class="tab-pane active" id="daily">
            <form class="form-horizontal">
              <fieldset>

                <div class="form-group">
                  <label for="monthlyNumber" class="col-md-1 control-label">
                  <input type="radio" name="dailyRadioValue" id="radios-1" value="1">
                </label>
                  <div class="col-md-5">
                    <div class="input-group">
                      <span class="input-group-addon">Every</span>
                      <input type="number" name="dailyNumber" id="dailyNumber" class="form-control" min="0" max="31" placeholder="1">
                      <span class="input-group-addon">day(s)</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="monthlyNumber" class="col-md-1 control-label">
                  <input type="radio" name="dailyRadioValue" id="radios-2" value="2">
                </label>
                  <div class="col-md-5">
                    <input type="text" value="Every Week Day" name="everyWeekDay" id="everyWeekDay" class="form-control" readonly="readonly">
                  </div>
                </div>

                <div class="form-group">
                  <label for="monthlyNumber" class="col-md-1 control-label">
                  <input type="radio" name="dailyRadioValue" id="radios-3" value="3">
                </label>
                  <div class="col-md-5">
                    <input type="text" value="Every Week End Day" name="everyWeekDay" id="everyWeekDay" class="form-control" readonly="readonly">
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="weekly">
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">Every</span>
                      <input type="number" name="weeklyNumber" id="weeklyNumber" class="form-control" min="0" max="52" placeholder="1">
                      <span class="input-group-addon">week(s) on</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="checkbox-inline" for="checkboxes-1">
                    <input type="checkbox" name="checkboxes" id="checkboxes-1" value="1">
                    Mon
                  </label>
                    <label class="checkbox-inline" for="checkboxes-2">
                    <input type="checkbox" name="checkboxes" id="checkboxes-2" value="2">
                    Tue
                  </label>
                    <label class="checkbox-inline" for="checkboxes-3">
                    <input type="checkbox" name="checkboxes" id="checkboxes-3" value="3">
                    Wed
                  </label>
                    <label class="checkbox-inline" for="checkboxes-4">
                    <input type="checkbox" name="checkboxes" id="checkboxes-4" value="4">
                    Thu
                  </label>
                    <label class="checkbox-inline" for="checkboxes-5">
                    <input type="checkbox" name="checkboxes" id="checkboxes-5" value="5">
                    Fri
                  </label>
                    <label class="checkbox-inline" for="checkboxes-6">
                    <input type="checkbox" name="checkboxes" id="checkboxes-6" value="6">
                    Sat
                  </label>
                    <label class="checkbox-inline" for="checkboxes-7">
                    <input type="checkbox" name="checkboxes" id="checkboxes-7" value="7">
                    Sun
                  </label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="monthly">
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <label for="monthlyNumber" class="col-md-1 control-label">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </label>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">Day</span>
                      <input type="number" name="monthlyNumber" id="monthlyNumber" class="form-control" min="0" max="31" placeholder="1">
                      <span class="input-group-addon">of every month</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label" for="selectbasic"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"></label>
                  <div class="col-md-1 padding-top-08"> The </div>
                  <div class="col-md-3">
                    <select id="" name="" class="form-control">
                    <option value="1">First</option>
                    <option value="2">Second</option>
                    <option value="3">Third</option>
                    <option value="4">Fourth</option>
                  </select>
                  </div>
                  <div class="col-md-3">
                    <select id="" name="" class="form-control">
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                  </select>
                  </div>
                  <div class="col-md-3 padding-top-08"> of every month</div>
                </div>






              </fieldset>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="yearly">
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <label for="monthlyNumber" class="col-md-1 control-label">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </label>
                  <div class="col-md-1 padding-top-08"> Every </div>
                  <div class="col-md-3">
                    <select id="" name="" class="form-control">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">Novembre</option>
                    <option value="12">December</option>
                  </select>
                  </div>
                  <div class="col-md-2">
                    <input type="number" name="monthlyNumber" id="monthlyNumber" class="form-control" min="0" max="31" placeholder="1">
                  </div>
                </div>

                <div class="form-group">
                  <label for="monthlyNumber" class="col-md-1 control-label">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                </label>
                  <div class="col-md-1 padding-top-08">The</div>
                  <div class="col-md-3">
                    <select id="" name="" class="form-control">
                    <option value="1">First</option>
                    <option value="2">Second</option>
                    <option value="3">Third</option>
                    <option value="4">Fourth</option>
                  </select>
                  </div>
                  <div class="col-md-3">
                    <select id="" name="" class="form-control">
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                  </select>
                  </div>
                  <div class="col-md-1 padding-top-08">of</div>
                  <div class="col-md-3">
                    <select id="" name="" class="form-control">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">Novembre</option>
                    <option value="12">December</option>
                  </select>
                  </div>
                </div>

              </fieldset>
            </form>
          </div>
        </div>
        <hr class="clearfix" style="margin:0 15px;">
        <div id="reccurenceDate" style="padding:10px 15px 40px 15px;">

          <div class="row">
            <div class="col-md-6">
              <label for="createdBetweenStart">Dates</label>
              <div class="input-group date" id="creationdateafter">
                <input type="text" value="" name="creationdateafter" class="form-control" id="createdBetweenStart" placeholder="Starting On">
                <span class="input-group-addon addonRightEve">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
              </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
              <label for="createdBetweenEnd">&nbsp;</label>
              <div class="input-group date" id="creationdatebefore">
                <input type="text" value="" name="creationdatebefore" class="form-control" id="createdBetweenEnd" placeholder="Ending On">
                <span class="input-group-addon addonRightEve">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
              </div>
            </div>
            <!-- /.col-md-6 -->
          </div>

        </div>

      </div>

      <div class="modal-footer">
        <a href="" class="btn btn-success btn-icon-alt"><i class="fa fa-check"></i> Save</a>
        <button type="button" class="btn btn-warning btn-icon" data-dismiss="modal"><i class="fa fa-times-circle-o"></i> Cancel</button>
      </div>

    </div>

  </div>
</div>
