
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<table id="example" class="table table-striped table-bordered" cellspacing="0" width="90%"></table>-->
<!--<div id="buttons"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<table id="events" class="table table-striped table-bordered" cellspacing="0" width="90%"></table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="container-fluid">
  <div class="row">
    <div class="container main-content" style="width: 98%">

      <div class="col-lg-8">

        <div class="panel panel-default">
          <div class="panel-heading">
            <b>All Jobs</b>
          </div>
          <div class="panel-body">
            <table id="events" class="table dataTable table-striped table-bordered table-responsive"></table>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
      <div class="selected-event-details-container col-lg-4">
        <div ng-hide="selectedRow">
          <span class="fa fa-ban text-muted" style="font-size: 70px; width: 100%; text-align: center;"></span>
          <b class="text-muted" style="display: block; width: 100%; text-align: center;"> No Event Selected</b>
        </div>
        <div class="panel panel-default" ng-if="selectedRow">
          <div class="panel-heading">
            <b>Event Details</b>
          </div>
          <div class="panel-body">
            <p> Venue: <span class="label label-default">{{ selectedRow.venue }}</span> </p>
            <p> Address: <span class="label label-default">{{ selectedRow.address }}</span> </p>
            <p> Phone number: <span class="label label-default">{{ selectedRow.number }}</span> </p>
            <p> Point of Contact: <span class="label label-default">{{ selectedRow.point_of_contact }}</span> </p>
            <p> Job Type: <span class="label label-default">{{ selectedRow.job_type }}</span> </p>
            <p> Job Type Specifications: <span class="label label-default">{{ selectedRow.job_type_specs }}</span> </p>
            <p> Prefered Officer Name: <span class="label label-default">{{ selectedRow.prefered_officer_name }}</span> </p>
            <p> Recuring: <span class="label label-default">{{ selectedRow.is_recuring }}</span> </p>
            <p> Recuring Data: <span class="label label-default">{{ selectedRow.recuring_data }}</span> </p>
            <p> Status: <span class="label label-default">{{selectedRow.status.name}}</span></p>
          </div>

          <div class="panel-footer" style="overflow: auto">

            <div class="col-md-6" id="approve-modal">
              <a id="modal-118275" href="#modal-container-118275" role="button" class="btn btn-success btn-block btn-rounded" data-toggle="modal">APPROVE</a>
              <div class="modal fade" id="modal-container-118275" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                        Modal title
                      </h4>
                    </div>
                    <div class="modal-body" style="overflow: auto;">

                      <script type="text/ng-template" id="list.html">
                        <ul dnd-list dnd-drop="onDrop(list, item, index)">
                          <li ng-repeat="item in list.items"
                              data-leo-id="{{item.leo_id}}"
                              dnd-draggable="getSelectedItemsIncluding(list, item)"
                              dnd-dragstart="onDragstart(list, event)"
                              dnd-moved="onMoved(list)"
                              dnd-dragend="list.dragging = false"
                              dnd-selected="item.selected = !item.selected"
                              ng-class="{'selected': item.selected}"
                              ng-hide="list.dragging && item.selected"
                          >
                            {{item.name}}
                          </li>
                        </ul>
                      </script>

                      <script type="text/ng-template" id="container.html">
                        <div class="container-element box box-blue">
                          <h3>Container {{item.id}}</h3>
                          <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                          <div class="clearfix"></div>
                        </div>
                      </script>

                      <!-- Template for a normal list item -->
                      <script type="text/ng-template" id="item.html">
                        <div class="item">Item {{item.id}}</div>
                      </script>

                      <!-- Main area with dropzones and source code -->
                      <div class="col-md-12 multiDemo">
                        <div class="row">

                          <div ng-repeat="list in leosList" class="col-md-3" id="leo-list">
                            <div class="dropzone box box-yellow">
                              <!-- The dropzone also uses the list template -->
                              <h5>{{ list.listName }}</h5>
                              <div ng-include="'list.html'"></div>
                            </div>
                          </div>

                          <div ng-repeat="list in invitesList" class="col-md-3">
                            <div class="dropzone box box-yellow">
                              <!-- The dropzone also uses the list template -->
                              <h5>{{ list.listName }}</h5>
                              <div ng-include="'list.html'"></div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <ul data-as-sortable="board.dragControlListeners" data-ng-model="items">
                        <li data-ng-repeat="item in items" data-as-sortable-item>
                          <div data-as-sortable-item-handle></div>
                        </li>
                      </ul>

                      <ul data-as-sortable="board.dragControlListeners" data-ng-model="items">
                        <li data-ng-repeat="item in items" data-as-sortable-item>
                          <div data-as-sortable-item-handle></div>
                        </li>
                      </ul>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary btn-rounded" data-dismiss="modal" ng-click="saveDrags()">
                        Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" id="reject-modal">
              <a id="modal-349281" href="#modal-container-349281" role="button" class="btn btn-danger btn-block btn-rounded" data-toggle="modal">REJECT</a>
              <div class="modal fade" id="modal-container-349281" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                        Modal title
                      </h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">
                        Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
