.info {
  padding: 20px;
  margin-bottom: 20px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 20px;
  margin-bottom: 20px;
}
.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857143;
}

